# Configuration et secrets (TRÈS IMPORTANT)
config.json

# Base de données locale
cache.db

# Logs et fichiers de debug
*.log
metakavita.log
nautiljon_dump.html

# Fichiers systèmes ou générés par Python
__pycache__/
*.pyc
*.pyo

# Fichiers macOS / Windows (toujours utile)
.DS_Store
Thumbs.db
