services:
  metakavita:
    build: .
    container_name: metakavita
    restart: unless-stopped
    ports:
      - "5010:5010"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - KAVITA_URL=http://ton-url-ou-ip:port
      - KAVITA_API_KEY=TA_CLE_API_KAVITA
      - DEEPL_API_KEY=TA_CLE_API_DEEPL
    volumes:
      - ./config.json:/app/config.json
      - ./metakavita.log:/app/metakavita.log
      - ./cache.db:/app/cache.db
